<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
    <title>Description</title>
</head>
<body>
    <a href="">
        Description->
        <p>We decided to create a minimalistic modern e-commerce website with a vertical aside like dashboard menu with a unique brand.
            Before the code, during the research we serve a several web-page and analyze each element structure and create a unique brand “jaqsy sut'' which focuses on providing daily products like homemade millk,cheese,kumyz etc. 
            </p>
    </a>

</body>
</html>