<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/membersstyle.css' %}">
    <title>Members</title>
</head>
<body>
    <div class="navbar">
    <ul>
        <li>
            <a href="" id="Assel">Assel Orynbassar
                <!-- <div class="Assel_info">
                    <h2>Orynbassar Assel</h2>
                    <h5>Role: Team leader</h5>
                    <h6>Skils: Desing, idea generating</h6>
                </div> -->
                <ul>
                    <li>Orynbassar Assel</li>
                    <li>Role: Team leader</li>
                    <li>Skils: Desing, idea generating</li>
                </ul>
            </a>
        </li>
        <li>
            <a href="" id="Beket">Beket Muratbekuly
                <!-- <div class="Beket_info">
                    <h2>Muratbekuly Beket</h2>
                    <h5>Role: Coder</h5>
                    <h6>Skils: Realization</h6>
                </div> -->
                <ul>
                    <li>Muratbekuly Beket</li>
                    <li>Role: Coder</li>
                    <li>Skils: Realization</li>
                </ul>
            </a>
        </li>
    </ul>
</div>
</body>
</html>